<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
	</Appenders>
<!-- 	<Appenders> -->
<!-- 		<File name="MyFile" fileName="d:/logs/app.log"> -->
<!-- 			<PatternLayout> -->
<!-- 				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern> -->
<!-- 			</PatternLayout> -->
<!-- 		</File> -->
<!-- 		<RollingFile name="RollingFile" fileName="d:/logs/app.log" -->
<!-- 			filePattern="d:/logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz"> -->
<!-- 			<PatternLayout> -->
<!-- 				<pattern>%d %p %c{1.} [%t] %m%n</pattern> -->
<!-- 			</PatternLayout> -->
<!-- 			<SizeBasedTriggeringPolicy size="10MB" /> -->
<!-- 		</RollingFile> -->
<!-- 	</Appenders> -->
	<Loggers>
		<logger name="com.xdkj" level="TRACE"></logger>
		<Root level="error">
			<AppenderRef ref="Console" />
		</Root>
	</Loggers>
	
	
</Configuration>